*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(85, 211, 211);
    background-image: url(/images/bgimage.png);
}
#logo{
    margin-top: 60px;
    margin-left: 60px;
    height: 36.02px;
    width: 160px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 91px;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    /* position: absolute;
    width: 580px;
    height: 550px;
    left: 440px;
    top: 93px; */

    background: white;
    box-shadow: 4px 4px 20px rgba(157, 157, 157, 0.12);
    border-radius: 15px;
}
.top{
    width: 100%;
}

.para{
    width: 308px;
    height: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: 300000;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #212121;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
.lines{   
    margin-left: 41%;
}
.para1{
    width: 378px;
    height: 37px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #545454;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: auto;
    margin-right: auto;
    
}
.para2{
    margin-top: -32px;
    width: 378px;
    height: 37px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #545454;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: auto;
    margin-right: auto;
}
.bottom{
    margin-top: -25px;
        width: 100%;

}
.button{
    margin-top: 45px;
}
.footer{
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}
